body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

header {
    background-color: var(--accent-color);
    padding: 1em;
    text-align: center;
    box-shadow: var(--box-shadow);
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondary-color);
}


main {
    padding: 2em;
}

.confirmation-message {
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 1em;
    border: 1px solid var(--secondary-color);
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}


#expenditure-overview {
    text-align: center;
    margin-bottom: 2em;
}

#expenditure-list {
    width: 100%;
    margin-bottom: 2em;
}

#expenditure-chart {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

#expenditurePieChart {
    max-width: 600px; /* Set a maximum width for the chart */
    max-height: 600px; /* Set a maximum height for the chart */

}

@media (min-width: 768px) {
    #expenditurePieChart {
        max-width: 400px; /* Set a smaller maximum width for the desktop */
        max-height: 400px; /* Set a smaller maximum height for the desktop */
    }
}
.transaction-item {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transaction-item p{
    margin: 0.5em 0;
}

.transaction-item p:first-child {
    font-weight: bold;
}

footer {
    background-color: var(--main-color);
    color: var(--accent-color);
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav a {
    color: var(--accent-color);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: var(--secondary-color);
}
