body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 1em;
    text-align: center;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #007bff;
}

main {
    padding: 2em;
}

.confirmation-message {
    background-color: #d4edda;
    color: #155724;
    padding: 1em;
    border: 1px solid #c3e6cb;
    margin-bottom: 1em;
}

#expenditure-overview {
    text-align: center;
    margin-bottom: 2em;
}

#expenditure-list {
    width: 100%;
    margin-bottom: 2em;
}

#expenditure-chart {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

#expenditurePieChart {
    max-width: 600px; /* Set a maximum width for the chart */
    max-height: 600px; /* Set a maximum height for the chart */

}

@media (min-width: 768px) {
    #expenditurePieChart {
        max-width: 400px; /* Set a smaller maximum width for the desktop */
        max-height: 400px; /* Set a smaller maximum height for the desktop */
    }
}
.transaction-item {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transaction-item p{
    margin: 0.5em 0;
}

.transaction-item p:first-child {
    font-weight: bold;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    margin-top: 2px;
    bottom: 0;
    z-index: 1;
    width: 100%;
}